crates/core @roeap @rtyler @hntd187 @ion-elgreco
crates/deltalake @roeap @rtyler @hntd187 @ion-elgreco
crates/aws @rtyler
crates/lakefs @ion-elgreco
crates/catalog-unity @roeap @hntd187

delta-inspect/ @rtyler

proofs/ @houqp
python/ @wjones127 @roeap @ion-elgreco

tlaplus/ @houqp

.github/ @rtyler
