[workspace]
members = [
    "ruby",
    "rust",
    "python",
    "glibc_version",
    "aws/delta-checkpoint",
    "dynamodb_lock",
    "deltalake_adbc",
]
exclude = ["proofs", "delta-inspect"]

[profile.dev]
split-debuginfo = "unpacked"
