[workspace]
members = ["crates/*", "delta-inspect", "python"]
exclude = ["proofs"]
resolver = "2"

[workspace.package]
authors = ["Qingping Hou <dave2008713@gmail.com>"]
rust-version = "1.82"
keywords = ["deltalake", "delta", "datalake"]
readme = "README.md"
edition = "2021"
description = "Native Delta Lake implementation in Rust"
homepage = "https://github.com/delta-io/delta.rs"
license = "Apache-2.0"
documentation = "https://docs.rs/deltalake"
repository = "https://github.com/delta-io/delta.rs"

[profile.release-with-debug]
inherits = "release"
debug = true

# Reducing the debuginfo for the test profile in order to trim the disk and RAM
# usage during development
# <https://github.com/delta-io/delta-rs/issues/1550?
[profile.test]
debug = "line-tables-only"

[workspace.dependencies]
delta_kernel = { git = "https://github.com/OussamaSaoudi/delta-kernel-rs", branch = "history_5_history_high_level_and_integration", features = [
    "arrow-55",
    "internal-api",
] }

# arrow
arrow = { version = "=55.0.0" }
arrow-arith = { version = "=55.0.0" }
arrow-array = { version = "=55.0.0", features = ["chrono-tz"] }
arrow-buffer = { version = "=55.0.0" }
arrow-cast = { version = "=55.0.0" }
arrow-ipc = { version = "=55.0.0" }
arrow-json = { version = "=55.0.0" }
arrow-ord = { version = "=55.0.0" }
arrow-row = { version = "=55.0.0" }
arrow-schema = { version = "=55.0.0" }
arrow-select = { version = "=55.0.0" }
object_store = { version = "0.12.1" }
parquet = { version = "=55.0.0" }

# datafusion
datafusion = "47.0.0"
datafusion-expr = "47.0.0"
datafusion-common = "47.0.0"
datafusion-ffi = "47.0.0"
datafusion-functions = "47.0.0"
datafusion-functions-aggregate = "47.0.0"
datafusion-physical-expr = "47.0.0"
datafusion-physical-plan = "47.0.0"
datafusion-proto = "47.0.0"
datafusion-sql = "47.0.0"

# serde
serde = { version = "1.0.194", features = ["derive"] }
serde_json = "1"
strum = { version = "0.27" }

# "stdlib"
bytes = { version = "1" }
chrono = { version = "0.4.40", default-features = false, features = ["clock"] }
tracing = { version = "0.1", features = ["log"] }
regex = { version = "1" }
thiserror = { version = "2" }
url = { version = "2" }
urlencoding = "2.1.3"
uuid = { version = "1" }

# runtime / async
async-trait = { version = "0.1" }
futures = { version = "0.3" }
tokio = { version = "1" }
num_cpus = { version = "1" }
