[package]
name = "deltalake"
version = "0.2.1"
authors = ["Qingping Hou <dave2008713@gmail.com>"]
homepage = "https://github.com/delta-io/delta.rs"
license = "Apache-2.0"
keywords = ["deltalake", "delta", "datalake"]
description = "Native Delta Lake implementation in Rust"
edition = "2018"

[dependencies]
clap = { version = ">=3.0.0-beta.2,<4", features = ["color"] }
anyhow = "1.0"
thiserror = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "0.2", features = ["fs", "macros", "stream"] }
tokio-io = ">=0.2.0-alpha.6,<0.3"
futures = "0.3"
bytes = "0.5"
log = "0"
env_logger = "0"
regex = "1"
chrono = "0"

# Azure
azure_core = { git = "https://github.com/Azure/azure-sdk-for-rust", optional = true, rev = "bc74cad7cc5f9226cf39c4abae0d902a85765e74" }
azure_storage = { git = "https://github.com/Azure/azure-sdk-for-rust", optional = true, rev = "bc74cad7cc5f9226cf39c4abae0d902a85765e74" }

# S3
rusoto_core = { version = "0.43", optional = true }
rusoto_s3 = { version = "0.43", optional = true }

arrow  = { version = "3.0.0" }
datafusion = { version = "3.0.0", optional = true }
parquet = { version = "3.0.0" }
crossbeam = { version = "0", optional = true }
cfg-if = "1"
async-trait = "0.1"
# NOTE: disable rust-dataframe integration since it currently doesn't have a
# version published in crates.io
# rust-dataframe = {version = "0.*", optional = true }

[features]
rust-dataframe-ext = []
datafusion-ext = ["datafusion", "crossbeam"]
azure = ["azure_core", "azure_storage"]
s3 = ["rusoto_core", "rusoto_s3"]
simd = ["arrow/simd", "datafusion/simd"]

[dev-dependencies]
utime = "0.3"
