[package]
name = "deltalake"
version = "0.1.1"
authors = ["Qingping Hou <dave2008713@gmail.com>"]
homepage = "https://github.com/delta-io/delta.rs"
license = "Apache-2.0"
keywords = ["deltalake", "delta", "datalake"]
description = "Native Delta Lake implementation in Rust"

[dependencies]
anyhow = "1.0"
thiserror = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
arrow  = "2"
parquet = "2"
tokio = "0.2.10"
tokio-io = "0.2.0-alpha.6"
futures = "0.3.1"
bytes = "0.5.3"
log = "*"
regex = "1"
chrono = "0"
crossbeam = "*"
rusoto_core = "0.43"
rusoto_s3 = "0.43"
datafusion = { version = "2", optional = true }
# NOTE: disable rust-dataframe integration since it currently doesn't have a
# version published in crates.io
# rust-dataframe = {version = "0.*", optional = true }

[features]
rust-dataframe-ext = []
datafusion-ext = ["datafusion"]

[dev-dependencies]
utime = "0.3"
