[package]
name = "deltalake"
version = "0.4.1"
authors = ["Qingping Hou <dave2008713@gmail.com>"]
homepage = "https://github.com/delta-io/delta.rs"
license = "Apache-2.0"
keywords = ["deltalake", "delta", "datalake"]
description = "Native Delta Lake implementation in Rust"
edition = "2018"

[dependencies]
libc = ">=0.2.90,<1"
errno = "0.2"
clap = { version = ">=3.0.0-beta.2,<4", features = ["color"] }
anyhow = "1"
thiserror = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["fs", "macros", "rt", "io-util"] }
tokio-stream = { version = "0", features = ["fs"] }
futures = "0.3"
bytes = "1"
log = "0"
env_logger = "0"
regex = "1"
chrono = "0"
uuid = { version = "0.8", features = ["serde", "v4"] }
lazy_static = "1"

# Azure
reqwest = { version = "0", optional = true }
azure_core = { git = "https://github.com/Azure/azure-sdk-for-rust", optional = true, rev = "536da42ebefd411feff8ba6a0965865e2741267e" }
azure_storage = { git = "https://github.com/Azure/azure-sdk-for-rust", optional = true, rev = "536da42ebefd411feff8ba6a0965865e2741267e", features = ["blob", "account", "adls_gen2"] }

# S3
rusoto_core = { version = "0.46", default-features = false, optional = true }
rusoto_credential = { version = "0.46", optional = true }
rusoto_s3 = { version = "0.46", default-features = false, optional = true }
rusoto_sts = { version = "0.46", default-features = false, optional = true }
rusoto_dynamodb = { version = "0.46", default-features = false, optional = true }
maplit = { version = "1", optional = true }

# High-level writer
parquet-format = "~2.6.1"

arrow = { version = "5" }
datafusion = { git = "https://github.com/apache/arrow-datafusion.git", rev="2a4f94e622a9c3db88eeb5c5ec7dd12efb98b546", optional = true }
parquet = { version = "5" }
cfg-if = "1"
async-trait = "0.1"
# NOTE: disable rust-dataframe integration since it currently doesn't have a
# version published in crates.io
# rust-dataframe = {version = "0.*", optional = true }

[features]
rust-dataframe-ext = []
datafusion-ext = ["datafusion"]
azure = ["azure_core", "azure_storage", "reqwest"]
s3 = ["rusoto_core/native-tls", "rusoto_credential", "rusoto_s3/native-tls", "rusoto_sts/native-tls", "rusoto_dynamodb/native-tls", "maplit"]
s3-rustls = ["rusoto_core/rustls", "rusoto_credential", "rusoto_s3/rustls", "rusoto_sts/rustls", "rusoto_dynamodb/rustls", "maplit"]

[build-dependencies]
glibc_version = "0"

[dev-dependencies]
utime = "0.3"
serial_test = "0"
pretty_assertions = "0"
tempdir = "0"
