# venv
venv

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage
.pytest_cache/
.benchmarks/

# mypy
.mypy_cache/

# sphinx build directory
docs/build

*.so

# dat data
dat-data