[package]
name = "deltalake-python"
version = "0.5.2"
authors = ["Qingping Hou <dave2008713@gmail.com>"]
homepage = "https://github.com/delta-io/delta-rs"
license = "Apache-2.0"
description = "Native Delta Lake Python binding based on delta-rs with Pandas integration"
readme = "README.md"
edition = "2018"
keywords = ["deltalake", "delta", "datalake", "pandas", "arrow"]

[lib]
name = "deltalake"
crate-type = ["cdylib"]

[dependencies]
tokio = { version = "1", features = ["rt-multi-thread"] }
env_logger = "0"
# reqwest is pulled in by azure sdk, but not used by python binding itself
# for binary wheel best practice, statically link openssl
reqwest = { version = "*", features = ["native-tls-vendored"] }
serde_json = "1"
#arrow  = { version = "4" }
arrow = { git = "https://github.com/apache/arrow-rs", rev = "9be938e8d2847cf8d41bc59f0c907f23ff61cc3c" }

[dependencies.pyo3]
version = "0.14"
features = ["extension-module", "abi3", "abi3-py36"]

[dependencies.deltalake]
path = "../rust"
version = "0"
features = ["s3", "azure"]

[package.metadata.maturin]
name = "deltalake"
requires-python = ">=3.6"
classifier = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3 :: Only"
]
project-url = { Repo = "https://github.com/delta-io/delta-rs", Documentation = "https://delta-io.github.io/delta-rs/python/", "Bug Tracker" = "https://github.com/delta-io/delta-rs/issues" }
requires-dist = [
    "pyarrow>=4",
    'numpy<1.20.0;python_version<="3.6"',
    'dataclasses;python_version<="3.6"',
    'types-dataclasses;python_version<="3.6" and extra == "pandas"',
    "pandas; extra == 'pandas' or extra == 'devel'",
    "mypy; extra == 'devel'",
    "isort; extra == 'devel'",
    "pytest; extra == 'devel'",
    "pytest-mock; extra == 'devel'",
    "pytest-cov; extra == 'devel'",
    "pytest-timeout; extra == 'devel'",
    "sphinx; extra == 'devel'",
    "sphinx-rtd-theme; extra == 'devel'",
    "toml; extra == 'devel'",
]
provides-extra = ["pandas", "devel"]
