[package]
name = "deltalake-python"
version = "0.4.9"
authors = ["Qingping Hou <dave2008713@gmail.com>"]
homepage = "https://github.com/delta-io/delta-rs"
license = "Apache-2.0"
description = "Python binding for delta-rs"
readme = "README.md"
edition = "2018"

[lib]
name = "deltalake"
crate-type = ["cdylib"]

[dependencies]
tokio = { version = "1", features = ["rt-multi-thread"] }
env_logger = "0"
# reqwest is pulled in by azure sdk, but not used by python binding itself
# for binary wheel best practice, statically link openssl
reqwest = { version = "*", features = ["native-tls-vendored"] }
serde_json = "1"
arrow  = { version = "4" }

[dependencies.pyo3]
version = "0.13"
features = ["extension-module", "abi3", "abi3-py36"]

[dependencies.deltalake]
path = "../rust"
version = "0"
features = ["s3", "azure"]

[package.metadata.maturin]
name = "deltalake"
requires-python = ">=3.6"
classifier = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3 :: Only"
]
project-url = { Repo = "https://github.com/delta-io/delta-rs" }
requires-dist = [
    "pyarrow>=4",
    'numpy<1.20.0;python_version<="3.6"',
    'dataclasses;python_version<="3.6"',
    "pandas; extra =='pandas'",
    "mypy; extra == 'devel'",
    "isort; extra == 'devel'",
    "pytest; extra == 'devel'",
    "pytest-mock; extra == 'devel'",
    "pytest-cov; extra == 'devel'",
    "pytest-timeout; extra == 'devel'",
    "sphinx; extra == 'devel'",
    "sphinx-rtd-theme; extra == 'devel'",
    "toml; extra == 'devel'",
]
provides-extra = ["pandas", "devel"]