[package]
name = "deltalake-python"
version = "0.8.1"
authors = ["Qingping Hou <dave2008713@gmail.com>"]
homepage = "https://github.com/delta-io/delta-rs"
license = "Apache-2.0"
description = "Native Delta Lake Python binding based on delta-rs with Pandas integration"
readme = "README.md"
edition = "2021"
keywords = ["deltalake", "delta", "datalake", "pandas", "arrow"]

[lib]
name = "deltalake"
crate-type = ["cdylib"]
doc = false

[package.metadata.maturin]
name = "deltalake._internal"

[dependencies]
arrow-schema = { version = "35", features = ["serde"] }
chrono = "0"
env_logger = "0"
futures = "0.3"
lazy_static = "1"
regex = "1"
serde = "1"
serde_json = "1"
tokio = { version = "1", features = ["rt-multi-thread"] }

# reqwest is pulled in by azure sdk, but not used by python binding itself
# for binary wheel best practice, statically link openssl
reqwest = { version = "*", features = ["native-tls-vendored"] }

[dependencies.pyo3]
version = "0.18"
features = ["extension-module", "abi3", "abi3-py37"]

[dependencies.deltalake]
path = "../rust"
version = "0"
features = ["azure", "gcs", "python", "datafusion"]

[features]
default = ["rustls"]
native-tls = ["deltalake/s3-native-tls", "deltalake/glue-native-tls"]
rustls = ["deltalake/s3", "deltalake/glue"]
